<!--

<div class="row">


  <div class="col-md-4 size">
    <div class="card" >

      <img class="picture" src="https://www.palaiszelda.com/images/z19/logo_botw.jpg" alt="" style="width: 100%"
           height="auto">
      <div class="discount">21%</div>
      <div class="title">Fortnite</div>
      <div class="price">187€</div>

    </div>
  </div>
  <div class="col-md-4 size">
    <div class="card">
      <img src="https://www.palaiszelda.com/images/z19/logo_botw.jpg" alt="" style="width: 100%" height="auto">
    </div>
  </div>
  <div class="col-md-4 size">
    <div class="card">
      <img src="https://www.palaiszelda.com/images/z19/logo_botw.jpg" alt="" style="width: 100%" height="auto">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="https://www.palaiszelda.com/images/z19/logo_botw.jpg" alt="" style="width: 100%" height="auto">
    </div>
  </div>
</div>

-->


