<div class="user-management-container">
  <h2>Benutzerverwaltung</h2>
  <button class="btn-create" (click)="onCreateUser()">Neuen Benutzer erstellen</button>

  <table class="user-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Benutzername</th>
      <th>E-Mail</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button class="btn-edit" *ngIf="user.id" (click)="onEditUser(user.id)">Bearbeiten</button>
        <button class="btn-delete" *ngIf="user.id" (click)="onDeleteUser(user.id)">Löschen</button>

      </td>
    </tr>
    </tbody>
  </table>
</div>
