* {
  overflow-y: hidden;
}


/* Table Data */
p-table tr td{
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
}

/* Create */
.btn-create{
  background-color:#f39c12;
  border-width:0px;
  border-style:none;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  margin-left:0px;
  margin-top:2px;
  padding-left:3px;
  padding-top:3px;
  padding-bottom:3px;
  padding-right:3px;
}

/* Button */
.btn-edit{
  margin-left:0px;
  padding-left:4px;
  margin-right:8px;
  background-color:#3498db;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  padding-right:4px;
  padding-top:4px;
  padding-bottom:4px;
}

/* Button */
.btn-delete {
  background-color:#e74c3c;
  padding-left:4px;
  padding-right:4px;
  padding-top:4px;
  padding-bottom:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}

/* Th */
p-table tr th{
  margin-bottom:0px;
  padding-left:0px;
  padding-bottom:12px;
  padding-top:0px;
}

/* Paginator bottom */
.p-table .p-element .p-paginator-bottom{
  padding-top:19px;
}



/* Body */
body{
  min-height:335px;
}

/* Table Data */
.p-table tr td{
  padding-bottom:8px;
  min-height:25px;
  height:25px;
  transform:translatex(0px) translatey(6px);
  padding-top:13px;

}

