<div class="input">
<li><textarea rows="1" cols="40" pInputTextarea [autoResize]="true" placeholder="Product name" style="

"></textarea></li>

<li><textarea rows="10" cols="40" pInputTextarea [autoResize]="true" placeholder="Product description" style="

"></textarea></li>

<li><textarea rows="5" cols="40" pInputTextarea [autoResize]="true" placeholder="Product small description" style="

"></textarea></li>

<p-fileUpload name="myfile[]" url="./upload.php"
              accept="image/*" [auto]="true"></p-fileUpload>
</div>
