.items-center a{
  display:inline-block;
  margin-left:14px;
  width:39px;
  padding-left:0px;
  margin-top:0px;
  padding-top:1px;
  padding-bottom:2px;
  margin-bottom:0px;
  position:relative;
  top:-9px;
  left:-2px;
  transform:translatex(0px) translatey(0px);
  min-height:29px;
}

.items-center{
  height:35px;
  transform:translatex(0px) translatey(0px);
}



.user-menu {
  position: relative;
}

.user-menu :hover {
  background: #27272A;
  border:#27272A;
  border-radius: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background:#18181B ;
  top: calc(100% + 5px);
  right: 0;
  border-radius: 4px;
  margin-top: 0.5px;
  z-index: 1002;
  min-width: 150px;
  border: 1px solid #3F3F46;

  transform:translatex(0px) translatey(-5px);
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

.dropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s;
}

.dropdown li:hover {
  background: #27272A;
}

.pi-angle-down {
  font-size: 0.8rem;
}

.dropdown ul li{
  padding-bottom:4px !important;
  min-height:39px;
  padding-top:0px !important;
}



.user-menu .user-dropdown{
  padding-left:13px;
  padding-top:5px;
  padding-right:8px;
  padding-bottom:38px;
}


