<p-menubar [model]="items">
  <ng-template #start>
    Logo
  </ng-template>
  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link">
      <i *ngIf="item.icon" [class]="item.icon"></i>
      <span>{{ item.label }}</span>
      <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge"></p-badge>
      <span *ngIf="item.shortcut" class="ml-auto shortcut">{{ item.shortcut }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <div class="user-menu">
      <div class="flex items-center gap-2 user-dropdown" (click)="toggleDropdown()">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"></p-avatar>
        <a class="username">{{ username }}</a>
      </div>
      <div class="dropdown" *ngIf="isDropdownOpen">
        <ul>
          <li *ngFor="let action of userActions">
            <a>
              <i *ngIf="action.icon" [class]="action.icon"></i> {{ action.label }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</p-menubar>
